@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  background: #1e243e;
  --casino-radius: 10px; 
  font-size: 14px;
}

.gold-ring {
  border: 2px solid rgba(255, 213, 74, 0.55);

  border-radius: var(--casino-radius);

  box-shadow:
    0 0 10px rgba(255, 213, 74, 0.22),
    inset 0 0 8px rgba(255, 213, 74, 0.08);
}

.casino-title {
  padding: 10px 20px;
  font-size: 3.0rem;
  font-weight: 900;
  font-family:
    "Trebuchet MS",
    "Verdana",
    sans-serif;
  letter-spacing: 2px;
  text-align: center;
  background: linear-gradient(
    90deg,
    #ffd54a 0%,
    #fff1a8 20%,
    #ffd54a 40%,
    #fff6cc 50%,
    #ffd54a 60%,
    #ffd54a 100%
  );
  background-size: 250% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: textShimmer 4s linear infinite;
  text-shadow:
    0 0 10px rgba(255, 213, 74, 0.35),
    0 0 18px rgba(255, 213, 74, 0.15);
}

@keyframes textShimmer {
  from {
    background-position: 200% center;
  }

  to {
    background-position: -200% center;
  }
}

.casino-table {
  width: min(1200px, 94vw);
  min-height: 85vh;
  padding: 30px;

  border-radius: var(--casino-radius);

  background: radial-gradient(circle at top, #0b5e3b, #063d26);
  border: 2px solid rgba(255, 215, 0, 0.4);

  box-shadow:
    0 20px 60px rgba(0, 0, 0, 0.7),
    inset 0 0 30px rgba(0, 255, 120, 0.15);

  position: relative;
  isolation: isolate;
  display: block;
}

.casino-bar {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 380px;
  padding: 8px 10px;

  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}

.casino-bar input {
  color: white;
  font-size: 1.1rem;
}

.casino-bar input::placeholder {
  color: rgba(254, 240, 138, 0.55);
}

.casino-btn {
  background: linear-gradient(to bottom, #ffd54a, #c89b1e);
  color: #1a1200;

  font-weight: 700;

  border: 1px solid rgba(255, 213, 74, 0.7);
  border-radius: 12px;

  padding: 8px 10px;
  font-size: 0.95rem;
  min-height: 40px;
  min-width: 100px;

  box-shadow:
    0 4px 0 rgba(120, 90, 10, 0.8),
    0 0 14px rgba(255, 213, 74, 0.25);

  transition: all 0.15s ease;
}

.casino-btn:hover {
  filter: brightness(1.1);
  transform: translateY(-1px);
  box-shadow:
    0 5px 0 rgba(120, 90, 10, 0.8),
    0 0 18px rgba(255, 213, 74, 0.35);
}

.casino-btn:active {
  transform: translateY(2px);
  box-shadow:
    0 2px 0 rgba(120, 90, 10, 0.8),
    0 0 10px rgba(255, 213, 74, 0.2);
}